@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

#main{
    background-color: whitesmoke;
    width: 100%;
    text-align: center;
    border-radius: 20px;
  }

  .ex{
    font-size: 20px;
  }

  .mini {
    font-size: 12px;
    color: #bc5353;

  .exp{
    font-size: 14px;
  }
}